<div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div>
            <button class="btn btn-primary">Previous</button>
            <button class="btn btn-secondary">Today</button>
            <button class="btn btn-primary">Next</button>
        </div>
        <div>
            <button class="btn btn-primary">Previous</button>
            <button class="btn btn-secondary">Today</button>
            <button class="btn btn-primary">Next</button>
        </div>
    </div>
</div>