
.column {
    float: left;
    width: 50%;
}


.right{
    float: right;
}

.hp_sit{
}

.hp_wit{
    position: relative;
    left: 50px;
}

@media (max-width: 600px) {
    .column {
        float: left;
        width: 100%;
    }
}