<form class="container p-3" (submit)="onSearchSubmit()">
    <div class="row text-left">
        <div class="col-5 form-group">
            <label class="font-weight-bold " for="skillInput">SKILL</label>
            <input type="text" id="skillInput" name="skillInput" [(ngModel)]="skillInput" class="form-control">
        </div>
        <div class="col-5 form-group">
            <label class="font-weight-bold" for="whereInput">WHERE</label>
            <input type="text" id="whereInput" name="whereInput" [(ngModel)]="whereInput" class="form-control">
        </div>
        <div class="col-2 form-group" style="bottom:-26px;">
            <button type="submit" class="btn btn-primary">Find Talent</button>
        </div>
    </div>
</form>
<div id="search-container">
    <div class="mt-5">
        <div *ngIf="viewArrayProfile==true" class="">
            <ul class="list-group" *ngFor="let data of dataArray">
                <button class="list-group-item list-group-item-action" (click)="showProfile(data)">
                    <span>Name: {{data.name}}</span>
                    <br>
                    <span>Email: {{data.email}}</span>
                    <br>
                    <span>Skill: {{data.skill}}</span>
                    <br>
                    <span>City: {{data.city}}</span>
                </button>
            </ul>
            <div>
                <ul class="pagination pagination-lg">
                    <button class="list-group-item list-group-item-action page-link" *ngIf="currentPage>1" (click)="onChangePageBack()">
                        <span>Previous</span>
                    </button>
                    <button class="list-group-item list-group-item-action page-link" *ngIf="currentPage<numberOfPages" (click)="onChangePage()">
                        <span>Next</span>
                    </button>
                </ul>
            </div>
            <div class="container" *ngIf="dataArrayLength==0">
                <p class="lead">No users found.</p>
            </div>
        </div>
        <div *ngIf="viewArrayProfile==false" class="card border-primary">
            <div class="card-body">
                <h2>{{profile.name}}</h2>
                <br>
                <span>Email: {{profile.email}}</span>
                <br>
                <span>Skill: {{profile.skill}}</span>
                <br>
                <span>City: {{profile.city}}</span>
                <br>
                <span>Experience: {{profile.experience}}</span>
                <br>
                <span>Volunteer: {{profile.volunteer}}</span>
                <br>
                <button class="btn btn-secondary" (click)="returnSearch()">Return</button>
            </div>
        </div>
    </div>
</div>