<div class="container">
    <h1 class="page-header">Register</h1>
    <form>
        <fieldset>
            <div class="row mb-3">
                <div class="col">
                    <label>Email Address :</label>
                    <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="email@something.com" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label>First Name :</label>
                    <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label>Last Name :</label>
                    <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label>Skills :</label>
                    <input type="text" [(ngModel)]="skill" name="skills" class="form-control" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label>City :</label>
                    <input type="text" [(ngModel)]="city" name="city" class="form-control" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label>Province/State :</label>
                    <select [(ngModel)]="region" name="region" class="form-control custom-select required">
                        <option value="Alberta">Alberta</option>
                        <option value="British Columbia">British Columbia</option>
                        <option value="Manitoba">Manitoba</option>
                        <option value="New Brunswick">New Brunswick</option>
                        <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                        <option value="Nova Scotia">Nova Scotia</option>
                        <option value="Ontario">Ontario</option>
                        <option value="Prince Edward Island">Prince Edward Island</option>
                        <option value="Quebec">Quebec</option>
                        <option value="Saskatchewan">Saskatchewan</option>
                        <option value="Northwest Territories">Northwest Territories</option>
                        <option value="Nunavut">Nunavut</option>
                        <option value="Yukon">Yukon</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label>Password :</label>
                    <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-block btn-primary" value="Register" (click)="onRegisterSubmit()">
            </div>
        </fieldset>
    </form>
</div>

